.customers {
  width: 100%;
  max-width: 480px;
  
  
  @include tablet {max-width: 768px;
  width: 100%;}
  @include desktop {
    max-width: 1200px;
  }

  &__company {margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    @include desktop {
      justify-content: space-between;
      gap: 0px;
      max-width: 1170px;
      flex-wrap: nowrap;
    }
  }
  &__title {
    margin: 60px auto 50px auto;
    text-align: center;
    line-height: 1.16;
    color: $title-color;
    font-size: 36px;
    @include desktop {
      margin: 0 auto 50px auto;
    }
    @include tablet {margin:0 auto 30px auto;}
  }
    &__icon { max-width: 170px;
      width: 100%;
      height: auto;
      padding: 16px 32px;
      border: $border-customers 1px solid;
      border-radius: 4px;
      fill: $border-customers;
      cursor: pointer;
    }
    &__icon:hover{
      fill: $background-hover-color;
      cursor: pointer;
      color: $background-hover-color;
      border-color: $background-hover-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

