.duties {
  width: 100%;
  max-width: 450px;
  margin: 60px auto;
  @include deskop {max-width: none;
  margin: 0;}
  
  &__tiles {
    margin: 0 auto;
    @include deskop {display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0 0;}
    }
  &__title {
    text-align: center;
    margin: 0 auto 50px auto;
    line-height: 1.16;
    color: $title-color;
    font-size: 36px;
  }
  &__img {
    position: relative;
    display: inline-block;
    margin: 0;
  }
  &__description {
    margin-bottom: 3px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: #fff;
    bottom: 0;
    padding: 27px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
  }
}
