.header {
  border-bottom: 1px solid $border-projects;
  padding: 10px 0;

  @include tablet {
    padding: 21px 0;
  }

  @include desktop {
    padding: 24px 0 25px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    @include tablet {
      flex-grow: 0;
    }
  }

  &__hamburger {
    height: 40px;
    width: 40px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    &:is(:hover, :focus) {
      color: $primary-color;
    }

    @include tablet {
      display: none;
    }
  }

  &__navigations {
    display: none;

    @include tablet {
      display: flex;
      gap: 46px;
      margin-left: 83px;
    }

    @include desktop {
      margin-left: 93px;
    }
  }

  &__navigation {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.1;
    color: $title-color;
    font-weight: 500;
    font-size: 14px;

    &--active {
      color: $primary-color;

      &::after {
        content: "";
        position: absolute;
        top: 44px;
        height: 4px;
        width: 100%;
        max-width: 58px;
        display: block;
        background-color: $background-hover-color;
        border-radius: 2px;
      }
    }

    &:is(:hover, :focus) {
      color: $background-hover-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__contacts {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: auto;
    }

    @include desktop {
      flex-direction: row;
      align-items: center;
      gap: 30px;
    }
  }

  &__contacts-item {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.1;
    color: $description-color;
    font-weight: 500;
    font-size: 14px;
    fill: currentColor;

    &:is(:hover, :focus) {
      color: $primary-color;
    }
  }
}
