.team {
  background-color: #f5f4fa;
  &__background{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    max-width: 480px;
  @include tablet {max-width: 768px;
  width: 100%;}

  @include desktop {max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  padding: 0 0;}
  }

  &__tiles {
    max-width: 450px;
    margin: 0 auto;
    justify-content: space-between;
    column-gap: 30px;
    
    @include tablet {max-width: 768px;
    width: 100%;
     gap: 30px;
    display: flex;
  flex-wrap: wrap;}
  @include desktop {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
  }
  &__title {
    text-align: center;
    line-height: 1.16;
    color: $title-color;
    font-size: 36px;
    @include tablet {margin-bottom: 30px;}
    @include desktop{margin-bottom: 50px;}
  }
  
  &__worker {margin-top: 30px;
    background-color: $text-button;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @include tablet {max-width: 354px;
    width: 100%;
  margin: 0 0;
}
  }
  
  &__name {
    margin: 30px auto 0 auto;
    text-align: center;
    line-height: 1.18;
    color: $title-color;
    font-weight: 500;
    font-size: 16px;
  }
  
  &__position {
    margin: 10px auto 16px auto;
    text-align: center;
    line-height: 1.18;
    color: $description-color;
    font-size: 16px;
  }
  &__socials {
    margin: 10px auto 16px auto;
    cursor: pointer;
    justify-content: center;
    padding: 16px 32px 18px 32px;
    display: flex;
    @include desktop {
      margin: 0;
      justify-content: space-between;
    }
  }
  &__icon:hover {
    fill: $border-projects;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icons{border-radius: 50%;}
  &__icons:hover {
    fill: $border-projects;
    background-color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    cursor: pointer;
    padding: 12px;
    display: flex;
    fill: $border-customers;
    width: 44px;
    height: 44px;
  }
}
