.title {
  background-image: linear-gradient(
  to top,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
),
url("../images/img-background.jpg");
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: 1600px;
text-align: center;
  padding: 200px 0;
  background-color: $background-beautification;
  
  &__header {
    margin: 0 auto;
  line-height: 1.3;
  font-weight: 900;
  font-size: 44px;
  color: $text-button;
  max-width: 696px;
  }
  &__button {
    margin: 30px auto 0 auto;
    padding: 10px 42px;
    font-family: "Roboto";
    cursor: pointer;
    background-color: $background-hover-color;
    color: $text-button;
    border: none;
    line-height: 1.8;
    font-weight: 700;
    font-size: 16px;
  }
  &__button:hover {
    color: $text-button;
    background-color: $background-hover-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__button:focus {
    color: $text-button;
    background-color: $background-hover-color;
  }
  &__background {
    text-align: center;
    padding: 200px 0;
    background-color: $background-beautification;
  }
}
