$title-color: #212121;
$description-color: #757575;
$background-hover-color: #2196f3;
$primary-color: #2196f3;
$tile-color: #000;
$text-button: #fff;
$background-beautification: #2f303a;
$email-phone-footer: #ffffff99;
$our-team-background: #f5f4fa;
$border-customers: #afb1b8;
$icons-footer: rgba(255, 255, 255, 0.1);
$border-projects: #eeeeee;
